@model Domain.ImageModel
@{
    ViewData["Title"] = "Морфология";
}

<div class="grid-container">
    <div class="grid-item source-section">
            <h2>Источник:</h2>
            <button class="clear-btn">Очистить</button>
            <canvas height="450" width="450" id="source" class="source-canvas canvas" onmousedown="canvasOnMouseDown(this, event.clientX, event.clientY);" onmouseup="canvasOnMouseUp()" onmousemove="canvasOnMouseMove(this, event.clientX, event.clientY)" onload="drawGrid();"></canvas>
        </div>
        <div class="grid-item action-section">
            <div class="operations">
                <form id="operations-form">
                    <h3>Операции преобразования:</h3>
                    <div class="operations-list">
                        <li>
                            <input id="increasing" name="operations" class="operation" type="radio" value="increasing" checked/>
                            <label for="increasing">наращивание</label>
                        </li>
                        <li>
                            <input id="erosion" name="operations" class="operation" type="radio" value="erosion"/>
                            <label for="erosion">эрозия</label>
                        </li>
                        <li>
                            <input id="locking" name="operations" class="operation" type="radio" value=""/>
                            <label for="locking">замыкание</label>
                        </li>
                        <li>
                            <input id="unlocking" name="operations" class="operation" type="radio" value=""/>
                            <label for="unlocking">размыкание</label>
                        </li>
                    </div>
                    <button class="transform-btn" type="button" onclick="request()">Преобразовать</button>
                </form>
            </div>
        </div>
    <div class="grid-item result-section">
        <h2>Результат:</h2>
        <canvas height="450" width="450" id="result" class="result-canvas canvas"></canvas>
    </div>
    @if (Model != null)
    {
        for (int i = 0; i < Model.Height; i++)
        {
            for (int j = 0; j < Model.Width; j++)
            {
                <script>drawPixelByCoordinate({x: @j , y: @i})</script>
            }
        }
    }
</div>

