@import url('https://fonts.googleapis.com/css?family=Lobster|Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lobster|Tomorrow&display=swap');

.grid-container {
    display: grid;
    height: 600px;
    margin: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "source actions result";
    font-family: 'Consolas';
}

.source-section {
    grid-area: source;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        "source-header"
        "source-main"
}

.action-section {
    grid-area: actions;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        "."
        "actions-main"
}

.operations {
    grid-area: actions-main;
}

.result-section {
    grid-area: result;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        "result-header"
        "result-main"
}

.source-section h2 {
    grid-area: source-header;
}

.result-section h2 {
    grid-area: result-header;
}

.source-canvas {
    grid-area: source-main;
    background-color: darkgray;
    width: 400px;
    height: 400px;
}

.result-canvas {
    grid-area: result-main;
}

.operation {
    display: block;
}